aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asttokens==2.0.5
attrs==22.1.0
Automat==22.10.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==4.1.0
boltons==23.0.0
brotlipy==0.7.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
comm==0.1.2
constantly==15.1.0
contourpy==1.1.0
cramjam==2.7.0
crispy-bootstrap5==2023.10
cryptography==39.0.1
cssselect==1.2.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Django==4.2.7
django-crispy-forms==2.1
django-rest-framework==0.1.0
djangorestframework==3.14.0
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.2
fastparquet==2023.8.0
filelock==3.12.4
fonttools==4.42.0
fsspec==2023.9.0
geographiclib==2.0
geopy==2.4.0
kiwisolver==1.4.4
webencodings==0.5.1
websocket-client==0.58.0
wheel==0.38.4
y-py==0.5.9
ypy-websocket==0.8.2
zope.interface==6.0
zstandard==0.19.0
