{% extends "base_community.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'images/4782263.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Share your experience with other students</h1>
            <p class="lead">Sharing experiences fosters sustainability by making eco-friendly practices more relatable and achievable. Personal
            stories bridge the gap between abstract concepts and tangible actions, inspiring others to adopt greener lifestyles. By
            discussing both successes and challenges, individuals learn from each other, adapt strategies, and collectively
            contribute to a larger environmental impact. This exchange creates a sense of shared responsibility and a deeper
            understanding of the link between individual choices and the broader goal of environmental stewardship..</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
        </div>
    </div>
</div>
{% endblock %}